.header {
    display: flex;
    align-items: center;
    background-color:#0064EB;
    height: 72px;
    gap: 20px;
    width: 100%;
  }
  
  .header--image {
    width: 41.02px;
    height: 40px;
    padding-block: 16px;
    padding-left: 40px;
  }
  
  .header--search {
    background: #FFFFFF;
    border-radius: 6px;
    width: 500px;
    height: 40px;
    background-image: url('/src/images/search1.png');
    background-position: 19px 13px;
    background-repeat: no-repeat;
    text-indent: 44px;
  
  }
  