.repos {
  color: black;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  align-items : flex-start;
  margin-left: 50px;
}

.repo {
  margin-block: 12px;
  text-align: start;
  background-color: white;
  width: 100%;
  max-width: 877px;
  height: 112px;
  border-radius: 6px;
}

.repo a {    
  text-decoration: none;
}

.repo--count {
  font-weight: 600;
  font-size: 32px;
  line-height: 130%;
  margin-top: 29px;
  margin-bottom: 16px;
}

.repo--name {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #0064EB;
  margin: 24px 32px 16px;
}

.repo--description {
  margin-left: 32px;
  margin-bottom: 24px;
}